<script setup lang="ts">
import { mdiPlaylistRemove, mdiFileDocumentCheckOutline } from "@mdi/js";
import { useTableStore } from "@/stores/table";
import { useOrderStore } from "@/stores/order";
import { ref, onMounted } from "vue";
import table from "@/services/table";

const tableStore = useTableStore();
const orderStore = useOrderStore();

const confirm_dialog = ref(false);
const open_bill = ref(false);
const loading_checkout = ref(false);
const checkout_success = ref(false);
const checkout_failed = ref(false);
const table_id = ref();
const _index_table = ref();
const _table = ref();
const bill_data = ref();
const sum_order_list = ref(0);

onMounted(async () => {
  await tableStore.getTables();
});

const checkOut = (index: number) => {
  confirm_dialog.value = true;
  _index_table.value = index;
};
const confirmBill = () => {
  confirm_dialog.value = false;
  _table.value = tableStore.tables[_index_table.value];
  table_id.value = tableStore.tables[_index_table.value]?.id;
};
const clearBeforeBill = () => {
  open_bill.value = false;
  table_id.value = null;
  _table.value = null;
  bill_data.value = null;
};
const openBill = async () => {
  if (!table_id.value || !_table.value) return;
  bill_data.value = await orderStore.getBillByTable(table_id.value);

  if (!bill_data.value.order) {
    checkout_failed.value = true;
    return;
  }

  sum_order_list.value = 0;
  bill_data.value.order_list.forEach(
    (e: any) => (sum_order_list.value += e.total)
  );
  open_bill.value = true;
};

const checkOutBill = async () => {
  const orderId = bill_data.value.order.id;

  loading_checkout.value = true;
  await orderStore.checkoutBill(orderId);
  checkout_success.value = true;
  loading_checkout.value = false;
  clearBeforeBill();
};
</script>

<template>
  <div class="pos-grid">
    <div class="card-box">
      <h1 class="text my-5 mx-6">ชำระเงิน</h1>

      <div></div>
      <v-divider></v-divider>

      <!-- แสดงโต๊ะ -->
      <v-container fluid style="height: 82vh; overflow: auto">
        <v-row>
          <v-col v-for="(item, id) of tableStore.tables" :key="id" cols="4">
            <v-card class="mx-auto rounded-xl" color="#EAE0DA">
              <v-card-item>
                <v-img
                  class="rounded-xl"
                  src="../../picture/table1.jpg"
                  width="300px"
                  height="140px"
                  cover
                ></v-img>
                <div class="text-center" style="color: black">
                  <div class="text-overline mb-4"></div>
                  <v-btn @click="checkOut(id)"> {{ item.name }} </v-btn>
                </div>
              </v-card-item>
            </v-card>
            <!-- <div class="pos-card">
              <div class="image rounded-xl">
                <v-img
                  src="../../picture/table1.jpg"
                  height="200px"
                  width="300px"
                  cover
                ></v-img>
              </div>

              <div class="content">
                <div class="name">
                  {{ item.name }}
                </div>
              </div>
            </div> -->
          </v-col>
        </v-row>
      </v-container>
    </div>

    <td>
      <div class="card-box d-flex flex-column justify-space-between">
        <div class="h-100">
          <div class="not-found" v-if="!_table">
            <v-icon :icon="mdiPlaylistRemove" :size="100"></v-icon>
            <p>กรุณาเลือกโต๊ะเพื่อดูบิลสำหรับค่าอาหาร</p>
          </div>
          <div v-else>
            <v-card class="mx-auto rounded-xl" color="#EAE0DA">
              <v-card-item>
                <v-img
                  class="rounded-xl"
                  src="../../picture/table1.jpg"
                  width="300px"
                  height="140px"
                  cover
                ></v-img>
                <div class="text-center" style="color: black">
                  <div class="text-overline mb-4">
                    {{ _table.name }}
                  </div>
                </div>
              </v-card-item>
            </v-card>
          </div>
        </div>

        <div class="d-flex flex-column mt-2 w-100">
          <v-btn
            v-if="table_id || _table"
            color="#e8bc2a"
            @click="clearBeforeBill"
            :prepend-icon="mdiFileDocumentCheckOutline"
            >เคลียร์</v-btn
          >
        </div>
        <div class="d-flex flex-column mt-3 w-100">
          <v-btn
            color="#e8bc2a"
            @click="openBill"
            :prepend-icon="mdiFileDocumentCheckOutline"
            >ชำระเงิน</v-btn
          >
        </div>
        <v-dialog
          transition="dialog-bottom-transition"
          width="auto"
          v-model="open_bill"
        >
          <v-card class="chip w-100 mb-4" v-if="bill_data">
            <v-card-title class="text-h5"> ใบชำระเงิน </v-card-title>
            <v-card-text> Order {{ bill_data.order.id }} </v-card-text>
            <v-row>
              <v-col>
                <v-card-text>{{ bill_data.table.name }} </v-card-text>
              </v-col>
              <v-col>
                <v-card-text> ID: RRE@ </v-card-text>
              </v-col>
            </v-row>
            <v-col>
              <v-card-text>
                Date:
                {{
                  new Date(bill_data.order.createdDate).toDateString()
                }}</v-card-text
              >
              <v-card-text>
                Time:
                {{ new Date(bill_data.order.createdDate).toLocaleTimeString() }}
              </v-card-text>
            </v-col>
            <v-card-text> --------------------------------------- </v-card-text>
            <v-card-text class="text-center">รายการอาหารทั้งหมด</v-card-text>

            <v-row
              class="mx-2"
              v-for="(item, i) in bill_data.order_list"
              :key="item.id"
            >
              <v-col>
                <v-card-text>{{ i + 1 }}</v-card-text>
              </v-col>
              <v-col>
                <v-card-text>{{ item.name }} </v-card-text>
              </v-col>
              <v-col>
                <v-card-text>{{ item.amount }}x {{ item.total }} </v-card-text>
              </v-col>
            </v-row>

            <v-card-text class="text-right">
              รวมทั้งหมด {{ bill_data.order_list.length }} รายการ
            </v-card-text>
            <v-row> </v-row>
            <v-card-text> --------------------------------------- </v-card-text>
            <v-col>
              <v-card-text class="text-right"
                >Subtotal: {{ sum_order_list }} บาท
              </v-card-text>
              <v-card-text class="text-right"
                >Total: {{ sum_order_list }} บาท</v-card-text
              >
              <v-card-text class="text-right">====================</v-card-text>
              <v-card-text class="text-right"
                >Grand Total: {{ sum_order_list }} บาท</v-card-text
              >
            </v-col>
            <v-card-actions class="my-2">
              <v-spacer></v-spacer>
              <v-btn
                color="red-darken-1"
                variant="text"
                @click="clearBeforeBill"
              >
                ยกเลิก
              </v-btn>
              <v-btn
                color="green-darken-1"
                variant="text"
                @click="checkOutBill"
              >
                ยืนยันการชำระเงิน
              </v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>
      </div>
    </td>
    <!-- แถบขวา
    <div class="card-box d-flex flex-column justify-space-between">
      <div class="h-100">
        <div class="not-found">
          <v-icon :icon="mdiPlaylistRemove" :size="100"></v-icon>
          <p>กรุณาเลือกโต๊ะเพื่อดูบิลสำหรับค่าอาหาร</p>
        </div>
      </div>

      <div class="d-flex flex-column w-100">
        <div class="chip w-100 mb-2">0 ฿</div>
        <v-btn color="#e8bc2a" :prepend-icon="mdiFileDocumentCheckOutline"
          >ชำระเงิน</v-btn
        >
        
      </div>
    </div> -->
  </div>
  <v-dialog v-model="confirm_dialog" width="500">
    <v-card>
      <v-card-text> ยืนยันที่จะชำระเงินใช่หรือไม่ ? </v-card-text>
      <v-card-actions>
        <v-btn color="green" @click="confirmBill">ใช่</v-btn>
        <v-btn color="red" @click="confirm_dialog = false">ไม่</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
  <v-dialog v-model="loading_checkout" :scrim="false" persistent>
    <v-card color="primary">
      <v-card-text>
        กรุณารอสักครู่
        <v-progress-linear
          indeterminate
          color="white"
          class="mb-0"
        ></v-progress-linear>
      </v-card-text>
    </v-card>
  </v-dialog>
  <v-snackbar v-model="checkout_success" :close-delay="3000" color="#413543">
    ทำรายการสำเร็จแล้ว

    <template v-slot:actions>
      <v-btn color="pink" variant="text" @click="checkout_success = false">
        Close
      </v-btn>
    </template>
  </v-snackbar>
  <v-snackbar v-model="checkout_failed" :close-delay="3000" color="#413543">
    ไม่สามารถทำรายการได้เนื่องจากยังไม่มีออเดอร์การสั่งอาหาร

    <template v-slot:actions>
      <v-btn color="pink" variant="text" @click="checkout_failed = false">
        Close
      </v-btn>
    </template>
  </v-snackbar>
</template>

<style scoped>
.not-found {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  flex-direction: column;
  color: #b6b6b6;
}

.text {
  font-size: 30pt;
  font-weight: 900;
  color: gray;
}

.pos-grid {
  display: grid;
  gap: 1rem;
  grid-template-columns: 3fr 1.5fr;
}

.pos-card {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 12px;
  transition: all 250ms;
  cursor: pointer;
  box-shadow: 0px 2px 6px rgba(78, 78, 78, 0.521);
}

.pos-card:hover {
  transform: translateY(-4px) scale(1.05);
}

.pos-card:hover .image img {
  transform: scale(1.2);
}

.pos-card .image {
  overflow: hidden;
  transition: all 300ms;
  position: relative;
  width: 100%;
  height: 120px;
}

.pos-card .image img {
  transition: all 600ms;
}

.pos-card .content {
  color: white;
  background-color: #9f91858a;
  width: 100%;
  border-radius: 0 0 12px 12px;
}

.pos-card .price {
  position: absolute;
  bottom: 30px;
  right: -3px;
  background-color: #ceaa6a;
  padding: 2px 20px;
  border-radius: 12px 0 0 12px;
  color: white;
}

.chip {
  color: rgb(0, 0, 0);
  background-color: #ffffff;
  padding: 5px 30px;
  font-size: 20px;
  width: 100%;
  border-radius: 12px;
  text-align: center;
}

.pos-card .name {
  color: white;
  text-align: center;
}

.pos-card .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 12px 12px 0 0;
}

.card-box {
  padding: 1rem;
  border-radius: 12px;
  box-shadow: 0px 4px 4px #e0e0ff;
}
</style>
