<script setup lang="ts">
import { usecheckinoutStore } from "@/stores/checkinout";
import { onMounted } from "vue";
import moment from "moment";
import type Checkinout from "@/types/Checkinout";
import type Employee from "@/types/Employee";
import employeeService from "@/services/employee";
import { useUserStore } from "@/stores/user";
import { ref } from "vue";
import type { VForm } from "vuetify/components";

const checkinoutStore = usecheckinoutStore();
const userStore = useUserStore();

const isWrong = ref(false);
const form = ref<VForm | null>(null);
const save = async () => {
  const { valid } = await form.value!.validate();
  if (valid) {
    const res = await checkinoutStore.saveCheckinout();
    console.log("debug: " + res);
    // if (res !== false) {
    //   console.log("true");
    //   checkinoutStore.dialog = false;
    // } else {
    //   console.log("false");
    //   isWrong.value = true;
    //   setTimeout(() => {
    //     isWrong.value = false;
    //   }, 1000);
    // }
  }
};
onMounted(async () => {
  const res = await checkinoutStore.getCheckinouts();
});
const fetchRealtimeData = async () => {
  await checkinoutStore.getCheckinouts();
  console.log("pull");
};
const interval = setInterval(fetchRealtimeData, 500);
</script>

<template>
  <v-container>
    <v-row>
      <v-card-text>
        <v-form ref="form">
          <v-row>
            <v-col cols="4" class="d-flex my-4">
              <v-text-field
                clearable
                placeholder="ชื่อผู้ใช้"
                variant="outlined"
                density="compact"
                style="gap: 1rem"
                :rules="[(v) => v.length >= 5 || 'กรุณาใส่ชือผู้ใช้ให้ถูกต้อง']"
                required
                v-model="checkinoutStore.editedCheckinout.username"
              >
              </v-text-field>
            </v-col>

            <v-col cols="4" class="d-flex my-4">
              <v-text-field
                clearable
                placeholder="รหัสผ่าน"
                variant="outlined"
                density="compact"
                type="password"
                style="gap: 1rem"
                :rules="[(v) => v.length >= 5 || 'กรุณาใส่รหัสให้ถูกต้อง']"
                required
                v-model="checkinoutStore.editedCheckinout.password"
              >
              </v-text-field>
            </v-col>

            <v-col cols="4" class="d-flex my-4" style="gap: 1rem"
              ><v-btn color="#3f8d6e" style="color: white" @click="save">
                เช็คอิน</v-btn
              >
              <!-- <v-btn
                color="#b64548"
                style="color: white"
                @click="checkinoutStore.dialog = false"
              >
                ยกเลิก</v-btn
              > -->
            </v-col>
          </v-row>
        </v-form>
      </v-card-text>
    </v-row>
    <v-row>
      <v-col>
        <v-table max-width="auto" height="590">
          <thead class="theadtable1">
            <tr>
              <th class="text-center">ชื่อพนักงาน</th>
              <th class="text-center">เวลาเข้างาน</th>
              <th class="text-center"></th>
            </tr>
          </thead>

          <tbody>
            <template
              v-for="item of checkinoutStore.checkinouts"
              :key="item.id"
            >
              <tr class="ma-10" v-if="item.hour === 0">
                <td>
                  <v-container>
                    <v-row justify="center">
                      {{ item.employee?.firstname }}
                      {{ item.employee?.lastname }}</v-row
                    >
                  </v-container>
                </td>

                <td>
                  <v-container>
                    <v-row
                      justify="center"
                      style="font-size: large; font-weight: bold"
                    >
                      <h6>
                        {{ moment(item.timestart).format(" HH:mm:ss") }}
                      </h6>
                    </v-row>
                  </v-container>
                </td>
                <!-- <td>
                  <v-container>
                    <v-row
                      justify="center"
                      style="font-size: large; font-weight: bold"
                      ><h6>
                        {{
                          item.hour === 0
                            ? "-"
                            : moment(item.timeend).format(" HH:mm:ss")
                        }}
                      </h6>
                    </v-row>
                  </v-container>
                </td>

                <td>
                  <v-container>
                    <v-row
                      justify="center"
                      style="font-size: large; font-weight: bold"
                      ><h6>{{ item.hour }}</h6>
                    </v-row>
                  </v-container>
                </td> -->

                <td>
                  <v-container>
                    <v-row class="justify-center">
                      <v-btn
                        color="#b64548"
                        style="color: white"
                        @click="checkinoutStore.checkOut(item)"
                      >
                        เช็คเอาท์</v-btn
                      >
                    </v-row>
                  </v-container>
                </td>
              </tr>
            </template>
          </tbody>
        </v-table>
      </v-col>
    </v-row>
  </v-container>
</template>

<style scoped>
.text {
  color: gray;
}

.theadtable1 {
  color: white;
  background-color: #665c56;
}
</style>
