<script setup lang="ts">
import { ref } from "vue";
import type { VForm } from "vuetify/components";
import { useEmployeeStore } from "@/stores/employee";

const employeeStore = useEmployeeStore();
const form = ref<VForm | null>(null);

const save = async () => {
  const { valid } = await form.value!.validate();
  if (valid) {
    employeeStore.saveEmployees();
  }
};

const clear = () => {
  employeeStore.dialog = false;
  employeeStore.clear();
};
</script>

<template>
  <v-row justify="center">
    <v-dialog v-model="employeeStore.dialog" persistent>
      <v-card class="mx-auto my-12" max-width="1000">
        <v-card-title>
          <span class="text-h5">Employee</span>
        </v-card-title>
        <v-card-text>
          <v-form ref="form">
            <v-container>
              <v-row>
                <v-col cols="12" sm="6" md="12">
                  <v-text-field
                    label="FirstName*"
                    v-model="employeeStore.editedEmployee.firstname"
                    required
                    :rules="[
                      (v) => !!v || 'Username is Not Empty',
                      (v) =>
                        v.length >= 4 ||
                        'Name must be more than or equal 4 charcters',
                    ]"
                  ></v-text-field>
                </v-col>
                <v-col cols="12" sm="6" md="12">
                  <v-text-field
                    label="LastName*"
                    v-model="employeeStore.editedEmployee.lastname"
                    required
                    :rules="[
                      (v) => !!v || 'Username is Not Empty',
                      (v) =>
                        v.length >= 4 ||
                        'Name must be more than or equal 4 charcters',
                    ]"
                  ></v-text-field>
                </v-col>
                <v-col cols="12" sm="6" md="6">
                  <v-text-field
                    label="Phonenumber*"
                    v-model="employeeStore.editedEmployee.tel"
                    required
                    :rules="[
                      (v) => !!v || 'Phonenumber is Not Empty',
                      (v) =>
                        v.length >= 10 || 'Phonenumber must be equal 10 number',
                    ]"
                  ></v-text-field>
                </v-col>

                <v-col cols="12">
                  <v-text-field
                    label="Email*"
                    v-model="employeeStore.editedEmployee.email"
                    :rules="[
                      (v) => !!v || 'email จะต้องไม่เป็นช่องว่าง',
                      (v) =>
                        v.length >= 5 ||
                        'email จะต้องมีขนาดมากกว่าหรือเท่ากับ 5 ตัวอักษร',
                      (v) =>
                        /^(?=.*\d)(?=.*[!@#$%^&*])/.test(v) ||
                        'email ต้องมีตัวอักษร ตัวเลข และตัวอักษรพิเศษ',
                    ]"
                    required
                  ></v-text-field>
                </v-col>

                <v-col cols="12" sm="6" md="12">
                  <v-select
                    :items="[
                      'พนักงานเสิร์ฟ',
                      'พ่อครัว',
                      'พนักงานคิดเงิน',
                      'ผู้จัดการ',
                    ]"
                    label="Position"
                    v-model="employeeStore.editedEmployee.position"
                    required
                  ></v-select>
                </v-col>

                <v-col cols="12">
                  <v-select
                    :items="['08:00 - 17:00', '13:00 - 21:00']"
                    label="CheckIn-Out Time"
                    v-model="employeeStore.editedEmployee.time_inout"
                    required
                  ></v-select>
                </v-col>

                <v-col cols="12" sm="6" md="12">
                  <v-text-field
                    label="Date*"
                    v-model="employeeStore.editedEmployee.date"
                    required
                    :rules="[(v) => !!v || 'Date is Not Empty']"
                  ></v-text-field>
                </v-col>
              </v-row>
            </v-container>
          </v-form>
        </v-card-text>

        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue-darken-1" variant="text" @click="clear">
            Close
          </v-btn>
          <v-btn color="blue-darken-1" variant="text" @click="save">
            Save
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-row>
</template>

<style scoped>
.table {
  color: white;
  background-color: #967667;
}
</style>
