<script setup lang="ts">
import { mdiPlus, mdiMagnify, mdiPencil, mdiDelete } from "@mdi/js";
import EmployeeDialog from "./EmployeeDialog.vue";
import { onMounted, ref, computed } from "vue";
import type Employee from "@/types/Employee";
import { useEmployeeStore } from "@/stores/employee";

const employeeStore = useEmployeeStore();

const deleteEmployee = (index: number): void => {
  employeeStore.deleteEmployee(index);
};

const editedEmployee = (employee: Employee) => {
  employeeStore.editEmployee(employee);
};

const addEmployee = () => {
  employeeStore.dialog = true;
};

let keyword = ref("");
const filterData = computed(() => {
  const key = keyword.value ? keyword.value.toLocaleLowerCase() : "";
  return employeeStore.employees.filter(
    (e) =>
      e.firstname.toLocaleLowerCase().indexOf(key) != -1 ||
      e.lastname.toLocaleLowerCase().indexOf(key) != -1
  );
});

onMounted(async () => {
  await employeeStore.getEmployees();
});
</script>

<template>
  <v-container>
    <v-row class="my-5">
      <v-col cols="4" class="d-flex">
        <v-text-field
          clearable
          placeholder="ชื่อผู้ใช้งาน"
          v-model="keyword"
          variant="outlined"
          density="compact"
          style="gap: 2rem"
        >
        </v-text-field>
      </v-col>
      <v-col cols="6" class="d-flex justify-end">
        <v-btn color="#fab7b7" :prepend-icon="mdiPlus" @click="addEmployee"
          >เพิ่ม</v-btn
        >
      </v-col>
    </v-row>
    <v-table>
      <thead class="table">
        <tr>
          <th class="text-left front">ลำดับ</th>
          <th class="text-left front">ชื่อพนักงาน</th>
          <th class="text-left front">อีเมลพนักงาน</th>
          <th class="text-left front">เบอร์โทรศัพท์พนักงาน</th>
          <th class="text-left front">ตำแหน่งงาน</th>
          <th class="text-left front">ช่วงเวลาทำงาน</th>
          <th class="text-left front">วันที่เข้าทำงาน</th>
          <th class="text-left front"></th>
        </tr>
      </thead>

      <tbody>
        <tr v-for="employee of filterData" :key="employee.id">
          <!-- <td>{{ i + 1 }}</td> -->
          <td>{{ employee.id }}</td>
          <td>{{ employee.firstname }} {{ employee.lastname }}</td>
          <td>{{ employee.email }}</td>
          <td>{{ employee.tel }}</td>
          <td>{{ employee.position }}</td>
          <td>{{ employee.time_inout }}</td>
          <td>{{ employee.date }}</td>
          <td>
            <div class="d-flex" style="gap: 1rem">
              <v-btn
                color="#ffd076"
                :prepend-icon="mdiPencil"
                @click="editedEmployee(employee)"
                >แก้ไข</v-btn
              >
              <v-btn
                color="#ff7c7c"
                :prepend-icon="mdiDelete"
                @click="deleteEmployee(employee.id)"
                >ลบ</v-btn
              >
            </div>
          </td>
        </tr>
      </tbody>
    </v-table>
    <EmployeeDialog></EmployeeDialog>
  </v-container>
</template>

<style scoped>
.table {
  background-color: #967667;
}
.front {
  color: white;
}
</style>
