<script setup lang="ts">
import CustomerNav from "@/components/menus/CustomerNav.vue";
import { onMounted } from "vue";
import { useCookStore } from "@/stores/orderlist";
import { useOrderStore } from "@/stores/order";
import type OrderList from "@/types/OrderList";
import { useProductQueueStore } from "@/stores/productQueue";
const CookStore = useCookStore();
const OrderStore = useOrderStore();
const productQueueStore = useProductQueueStore();
const convertStatus = OrderStore.convertStatusToText;

const orderList = OrderStore.getAll();
const listOrder = OrderStore.getAll();

const cookingOrder = (index: number, cooking: OrderList): void => {
  CookStore.cooklist(index);
  cooking.status = "กำลังทำ";
};

const FinishOrder = (index: number): void => {
  CookStore.finishlist(index);
};

const Deletecook = (index: number): void => {
  CookStore.deletecook(index);
};

const Deletefinish = (index: number): void => {
  CookStore.deletefinish(index);
};

onMounted(async () => {
  await productQueueStore.getProductQueue();
});

const _options = OrderStore.convertLevelToText;
</script>

<template>
  <v-container>
    <div class="d-flex" style="gap: 25rem">
      <h1 class="text my-4" style="text-align: center">รายการอาหารของฉัน</h1>
    </div>
    <v-row>
      <v-col>
        <v-card max-width="auto" height="590">
          <v-table max-width="auto" height="590">
            <thead class="theadtable1">
              <tr>
                <th class="text-center text-h5" style="color: white">ลำดับ</th>
                <th class="text-center text-h5" style="color: white">
                  รายการอาหาร
                </th>

                <th class="text-center text-h5" style="color: white">ราคา</th>
                <th class="text-center text-h5" style="color: white">สถานะ</th>
                <th class="text-center"></th>
              </tr>
            </thead>

            <tbody>
              <tr
                class="ma-10"
                v-for="(productQueue, index) in productQueueStore.productQueues"
                :key="index"
              >
                <td>
                  <v-container>
                    <v-row justify="center">
                      {{ index + 1 }}
                    </v-row>
                  </v-container>
                </td>

                <td>
                  <v-container>
                    <v-row>
                      {{ productQueue.name }}
                    </v-row>
                    <v-row>
                      ประเภท :
                      {{ productQueue.orderItem?.product?.category }}</v-row
                    >
                    <v-row>
                      ระดับ :
                      {{ _options(productQueue.orderItem?.level) }}</v-row
                    >
                    <v-row> เพิ่มเติม : {{ productQueue.note }}</v-row>
                    <!-- <v-row v-if="food.addition">
                            หมายเหตุ : {{ food.addition }}</v-row
                          > -->
                  </v-container>
                </td>

                <td>
                  <v-container>
                    <v-row justify="center"> {{ productQueue.price }} </v-row>
                  </v-container>
                </td>
                <td>
                  <v-container>
                    <v-row
                      class="mx-auto rounded-xl"
                      justify="center"
                      style="
                        text-align: center;
                        background-color: #d7ccc8;
                        padding: 8px;
                        border-radius: 29px;
                      "
                    >
                      {{ productQueue.status! }}
                    </v-row>
                  </v-container>
                </td>

                <!-- <td>
                        <v-btn class="ma-2 Cook" @click="cookingOrder(item.id, item)"
                          >ตกลง</v-btn
                        >
                        <v-btn class="ma-2 Cancel" @click="Deletecook(item.id)"
                          >ยกเลิก</v-btn
                        >
                      </td> -->
              </tr>
            </tbody>
          </v-table>
        </v-card>
      </v-col>

      <!-- ช่อง2 -->
    </v-row>
  </v-container>
  <div>
    <CustomerNav></CustomerNav>
  </div>
</template>

<style scoped>
.Cook {
  background-color: #51e28b;
}

.Cancel {
  background-color: #fa8484;
}

.Finish {
  background-color: #51e28b;
}

.text {
  font-size: 30pt;
  font-weight: 900;
  color: gray;
}

.theadtable1 {
  background-color: #967667;
}

.theadtable2 {
  background-color: #fedd58;
}
</style>
