<script setup lang="ts">
import { ref, onMounted, computed, reactive } from "vue";
import { mdiPlaylistRemove, mdiClose, mdiCart } from "@mdi/js";
import { useProductsStore } from "@/stores/product";
import { useOrderDetailStore } from "@/stores/order_detail";
import type Products from "@/types/Products";
import router from "@/router";
import type OrderItem from "@/types/OrderItem";
import { useTableStore } from "@/stores/table";
import CustomerNav from "@/components/menus/CustomerNav.vue";

// const products = useProductsStore().getProducts();
const selectedId = ref<number>(7); //ค่าน้อยสุดของ id อาหาร
const OrderDetail = useOrderDetailStore();
const productStore = useProductsStore();
const menuFilter = computed(() => {
  if (select_category.value === "All")
    return JSON.parse(JSON.stringify(productStore!.products));
  return JSON.parse(
    JSON.stringify(
      productStore!.products.filter((e) => e.category === select_category.value)
    )
  );
});

onMounted(async () => {
  await productStore.getProducts();
});

const select_category = ref("All");

function getProduct(index: number, product: Product) {
  selectedId.value = product.id;
  console.log("คุณเลือก index img: " + selectedId.value);
  addition.value = "";
  options.value = 1;
  state.count = 1;
  select.value = menuFilter.value[index];
  openProduct.value = true;
}
const openProduct = ref(false);
const select = ref();
const tmp_product_id = ref();

const sumPrice = computed(() => {
  return select.value.price * state.count;
});

const sum = computed(() => {
  let price = 0;
  useOrderDetailStore().orderItems.forEach(
    (value) => (price += value?.price * value?.amount)
  );
  return price;
});
const state = reactive({
  count: 1,
});
const price = ref();
const options = ref(1);
const _options = ref([
  { price: 0, label: "ธรรมดา", subtitle: "สามารถระบุเพิ่มเติมได้" },
  { price: 10, label: "พิเศษ", subtitle: "เพิ่ม 10 บาท" },
  { price: 20, label: "พิเศษแบบมากๆ", subtitle: "เพิ่ม 20 บาท" },
]);

const addition = ref();
const confirm_order = ref(false);
const success = ref(false);
const confirm_remove_item = ref(false);

function increment() {
  state.count++;
}
function decrement() {
  if (state.count - 1 < 0) return;
  state.count--;
}
const backendURL = import.meta.env.VITE_BACKEND_URL;
const removeList = (index: number) => {
  tmp_product_id.value = index;
  confirm_remove_item.value = true;
};

const decreaseProduct = (product_id: number) => {
  const index = OrderDetail.findListIndexByProductID(product_id);

  if (OrderDetail.orderItems[index].amount - 1 <= 0) {
    tmp_product_id.value = index;
    confirm_remove_item.value = true;
  } else {
    OrderDetail.decreaseItem(product_id);
  }
};

const increaseProduct = OrderDetail.increaseItem;

const productList = OrderDetail.getAll();
console.log(productList);

const add = (product: Products) => {
  openProduct.value = false;
  product.total = state.count;

  OrderDetail.addItem(product, {
    addition: addition.value,
    choice: options.value,
    choice_label: _options.value[options.value - 1].label,
    choice_value: _options.value[options.value - 1].price,
  });

  // const newOrderItem: OrderItem = {
  //   product: product,
  //   amount: state.count,

  // };
  const orderItem: OrderItem = {
    amount: state.count,
    name: product.name,
    order: useTableStore().currentOrder,
    price: product.price! + _options.value[options.value - 1].price,
    note: addition.value,
    product: product,
    total:
      (product.price! + _options.value[options.value - 1].price) * state.count,
    table: useTableStore().currentOrder!.table,
    level: options.value + "",
    productQueue: [{}],
  };
  useOrderDetailStore().orderItems.push(orderItem);
  console.log(useOrderDetailStore().orderItems);
  addition.value = "";
};

const confirmOrder = () => {
  if (productList.value.length === 0) return;
  confirm_order.value = true;
};
const confirmOrderFinal = () => {
  OrderDetail.save(useTableStore().currentOrder!);
  confirm_order.value = false;
  success.value = true;
  useOrderDetailStore().orderItems = [];
};
const remove = () => {
  OrderDetail.removeItem(tmp_product_id.value);
  confirm_remove_item.value = false;
  tmp_product_id.value = null;
};
</script>
<template>
  <div class="pos-grid">
    <div class="card-box">
      <h1 class="text my-2 mx-3">รายการสินค้า</h1>
      <br />
      <h2>
        <div class="d-flex mx-3" style="gap: 1rem">
          <v-btn
            style="color: white"
            :color="select_category === 'All' ? '#E5BA73' : '#413543'"
            @click="select_category = 'All'"
            >ทั้งหมด</v-btn
          >
          <v-btn
            style="color: white"
            :color="select_category === 'Food' ? '#E5BA73' : '#413543'"
            @click="select_category = 'Food'"
            >อาหาร</v-btn
          >
          <v-btn
            style="color: white"
            :color="select_category === 'Drink' ? '#E5BA73' : '#413543'"
            @click="select_category = 'Drink'"
            >เครื่องดื่ม</v-btn
          >
        </div>
      </h2>
      <div class="mb-3"></div>
      <v-divider></v-divider>
      <v-container fluid style="height: 70vh; overflow: auto">
        <v-row>
          <v-col v-for="(item, id) of menuFilter" :key="id" cols="3">
            <div class="pos-card" @click="getProduct(id, item)">
              <div class="image">
                <img :src="`${backendURL}/products/${item.id}/image`" />
              </div>

              <div class="content">
                <div class="name">
                  {{ item.name }}
                </div>
                <div class="price">{{ item.price }} บาท</div>
              </div>
            </div>
          </v-col>
        </v-row>
      </v-container>
    </div>
    <div class="card-box d-flex flex-column justify-space-between">
      <div class="h-100">
        <div
          class="not-found"
          v-if="useOrderDetailStore().orderItems.length === 0"
        >
          <v-icon :icon="mdiPlaylistRemove" :size="100"></v-icon>
          <p>ไม่มีสินค้า กรุณาเลือกสินค้าก่อน</p>
        </div>
        <div class="cart" v-else>
          <TransitionGroup>
            <div
              class="product-cart"
              v-for="(item, index) in useOrderDetailStore().orderItems"
              :key="index"
            >
              <button class="remove" @click="removeList(index)">
                <v-icon :icon="mdiClose" :size="18"></v-icon>
              </button>
              <div class="image">
                <img
                  class="image-centered"
                  :src="` ${backendURL}/products/${item.product!.id}/image`"
                  alt=""
                />
              </div>
              <div class="content">
                <div class="title">
                  {{ item!.name }}
                </div>
                <div class="detail">
                  <div class="d-flex flex-column">
                    <span class="small ms-0">
                      {{ _options[parseInt(item.level) - 1].label }}
                    </span>
                    <span class="small ms-0"> Note: {{ item.note }} </span>
                    <span class="small ms-0">{{ item.price }} บาท</span>
                  </div>
                  <div class="action">
                    <button
                      class="amount"
                      @click="decreaseProduct(item.product!.id)"
                    >
                      -
                    </button>
                    <!-- <span class="amount-text">{{ item.product!.total }}</span> -->
                    <span class="amount-text">{{
                      item.price * item.amount
                    }}</span>
                    <button
                      class="amount"
                      @click="increaseProduct(item.product!.id)"
                    >
                      +
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </TransitionGroup>
        </div>
      </div>
      <div class="d-flex flex-column w-100">
        <div class="chip w-100 mb-2">{{ sum }} ฿</div>
        <v-btn @click="confirmOrder" color="#e8bc2a" :prepend-icon="mdiCart"
          >ยืนยันรายการอาหาร</v-btn
        >
      </div>
    </div>
  </div>

  <v-dialog transition="dialog-bottom-transition" v-model="openProduct">
    <template v-slot:default="{ isActive }">
      <v-card class="mx-auto my-12" width="600">
        <template v-slot:loader="{ isActive }">
          <v-progress-linear
            :active="isActive"
            color="deep-purple"
            height="10"
            indeterminate
          ></v-progress-linear>
        </template>

        <v-card-item>
          <v-card-title> {{ select.name }} </v-card-title>

          <v-img
            :src="` ${backendURL}/products/${selectedId}/image`"
            cover
            height="250"
          >
          </v-img>

          <v-card-subtitle>
            <span class="mr-1">ประเภทต้ม</span>
          </v-card-subtitle>
          <v-card-text>
            <v-row align="center" class="mx-0"> </v-row>

            <div class="my-4 text-subtitle-1"></div>
            <v-col align="left" class="px-1">
              <div class="mr-16">ราคา : {{ sumPrice }}</div>
              <div class="d-flex align-center">
                <v-btn
                  align="Right"
                  color="green"
                  variant="plain"
                  @click="increment"
                  >+ Add</v-btn
                >
                <div>{{ state.count }}</div>
                <v-btn color="error" variant="plain" @click="decrement">
                  - Delete</v-btn
                >
              </div>
            </v-col>
          </v-card-text>
          <v-divider class="mx-3 mb-1"></v-divider>

          <v-card-title>เลือกระดับ </v-card-title>
          <v-list lines="two" subheader> </v-list>
          <v-divider></v-divider>
          <div class="px-1">
            <v-list lines="two" subheader>
              <v-list-subheader>General</v-list-subheader>
              <v-radio-group v-model="options">
                <template v-for="(choice, index) in _options" :key="index">
                  <v-list-item
                    :title="choice.label"
                    :subtitle="choice.subtitle"
                  >
                    <template v-slot:prepend>
                      <v-radio :value="index + 1"></v-radio>
                    </template>
                  </v-list-item>
                </template>
              </v-radio-group>
            </v-list>
            <v-text-field label="เพิ่มเติม" v-model="addition"></v-text-field>
          </div>
        </v-card-item>

        <v-form>
          <v-container>
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-card-actions class="justify-end">
                <v-btn
                  color="red-darken-1"
                  variant="text"
                  @click="isActive.value = false"
                  >ยกเลิก</v-btn
                >
              </v-card-actions>
              <v-card-actions class="justify-end">
                <v-btn
                  color="green-darken-1"
                  variant="text"
                  @click="add(select)"
                >
                  เพิ่ม
                </v-btn>
              </v-card-actions>
            </v-card-actions>
          </v-container>
        </v-form>
      </v-card>
    </template>
  </v-dialog>

  <v-dialog v-model="confirm_order" width="500">
    <v-card>
      <v-card-text> ยืนยันที่จะสั่งอาหารใช่หรือไม่ ? </v-card-text>
      <v-card-actions>
        <v-btn color="green" @click="confirmOrderFinal">ใช่</v-btn>
        <v-btn color="red" @click="confirm_order = false">ไม่</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
  <v-dialog v-model="confirm_remove_item" width="500">
    <v-card>
      <v-card-text> คุณต้องการนำอาหารออกหรือไม่ ? </v-card-text>
      <v-card-actions>
        <v-btn color="green" @click="remove">ใช่</v-btn>
        <v-btn color="red" @click="confirm_remove_item = false">ไม่</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>

  <v-snackbar v-model="success" :close-delay="3000" color="#413543">
    รายการอาหารถูกสั่งเรียบร้อย

    <template v-slot:actions>
      <v-btn color="pink" variant="text" @click="success = false">
        Close
      </v-btn>
    </template>
  </v-snackbar>
  <div><CustomerNav></CustomerNav></div>
</template>

<style scoped>
#headTable {
  font-size: 13pt;
  color: rgb(126, 125, 125);
}

#Table {
  background-color: #e0e0ff;
}

.text {
  font-size: 30pt;
  font-weight: 900;
  color: gray;
}

.not-found {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  flex-direction: column;
  color: #b6b6b6;
}

.pos-grid {
  display: grid;
  gap: 1rem;
  grid-template-columns: 3fr 1.5fr;
}

.pos-card {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 12px;
  transition: all 250ms;
  cursor: pointer;
  box-shadow: 0px 2px 6px rgba(78, 78, 78, 0.521);
}

.pos-card:hover {
  transform: translateY(-4px) scale(1.05);
}

.pos-card:hover .image img {
  transform: scale(1.2);
}

.pos-card .image {
  overflow: hidden;
  transition: all 300ms;
  position: relative;
  width: 100%;
  height: 120px;
}

.pos-card .image img {
  transition: all 600ms;
}

.pos-card .content {
  color: white;
  background-color: #a29494;
  width: 100%;
  border-radius: 0 0 12px 12px;
}

.pos-card .price {
  position: absolute;
  bottom: 30px;
  right: -3px;
  background-color: #ceaa6a;
  padding: 2px 20px;
  border-radius: 12px 0 0 12px;
  color: white;
}

.chip {
  color: white;
  background-color: #c7bfad;
  padding: 5px 30px;
  font-size: 20px;
  width: 100%;
  border-radius: 12px;
  text-align: center;
}

.pos-card .name {
  color: white;
  text-align: center;
}

.pos-card .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 12px 12px 0 0;
}

.card-box {
  padding: 1rem;
  border-radius: 12px;
  box-shadow: 0px 4px 4px #e0e0ff;
}

.cart {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.product-cart {
  display: grid;
  grid-template-columns: 1fr 5fr;
  gap: 0.4rem;
  padding: 0.3rem;
  box-shadow: 0px 2px 4px #a9a9ab8a;
  border-radius: 12px;
  position: relative;
}

.product-cart .remove {
  position: absolute;
  top: -6px;
  right: -6px;
  width: 26px;
  height: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #b64548;
  color: #ffffff;
  border-radius: 50%;
  z-index: 1;
}

.product-cart .image {
  width: 60px;
  height: 60px;
  border-radius: 12px;
  box-shadow: 0px 2px 4px #e0e0ff;
  overflow: hidden;
}

.product-cart .title {
  font-size: 16px;
  color: #252525;
}

.product-cart .small {
  color: #b6b6b6;
  font-size: 15px;
  margin-left: 1.2rem;
}

.product-cart .detail {
  display: flex;
  justify-content: space-between;
}

.product-cart .action {
  display: flex;
  gap: 1rem;
}

.product-cart button.amount {
  border-radius: 50%;
  padding: 0.6rem;
  width: 25px;
  height: 25px;
  font-size: 20px;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e8bc2a;
}

.image-centered {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.list-enter-active,
.list-leave-active {
  transition: all 0.5s ease;
}

.list-enter-from,
.list-leave-to {
  opacity: 0;
  transform: translateX(30px);
}
</style>
