<script setup lang="ts">
import { ref, onMounted } from "vue";

import { useServeStore } from "@/stores/orderserve";
import type OrderServe from "@/types/OrderServe";
import { useCookStore } from "@/stores/orderlist";
import { useOrderStore } from "@/stores/order";
const OrderStore = useOrderStore();

const serveStore = useServeStore();

const changeStatus = (index: number, status: string) => {
  const ids = rearrange.value[index].order.map((item: any, i: number) => {
    return item.id;
  });

  rearrange.value.splice(index, 1);
  OrderStore.changeStatus(ids, status);
};
const served = (index: number, finish: OrderServe): void => {
  // serveStore.served(index);
  // finish.status = "เสิร์ฟแล้ว";
};

const orderList = ref();
const rearrange = ref();
onMounted(async () => {
  orderList.value = await OrderStore.getAll("รอเสิร์ฟ");
  console.log(orderList.value);
  let table: any = [];
  orderList.value.forEach((item: any, i: number) => {
    const exist = table.findIndex(
      (_table: any) => _table.id === item.orderItem.order.table.id
    );
    if (exist === -1) {
      table.push(item.orderItem.order.table);
      table[table.length - 1].order = [];
    }
  });

  orderList.value.forEach((item: any, i: number) => {
    const exist = table.findIndex(
      (_table: any) => _table.id === item.orderItem.order.table.id
    );
    table[exist].order.push(item);
  });
  rearrange.value = table;
  console.log(table);
});
const _options = OrderStore.convertLevelToText;
</script>

<template>
  <h1 class="text my-5" style="text-align: center">เตรียมรายการอาหาร</h1>
  <v-card
    v-for="(item, index) in rearrange"
    :key="item.id_order"
    class="my-7 mx-auto rounded-xl"
    max-width="600"
    color="#FFE4C4"
  >
    <v-card-text>
      <v-row class="ma-4" outlined tile>
        <v-img
          class="mx-auto rounded-xl"
          src="../../picture/table1.jpg"
          width="100px"
          height="200px"
          cover
        >
        </v-img>
        <v-col>
          <v-container>
            <v-row class="text-h4 text--primary">
              {{ item.name }}
            </v-row>
          </v-container>
          <v-container v-for="(food, j) in item.order">
            <v-row>
              {{ food.orderItem.name }}
            </v-row>
            <v-row> ระดับ : {{ _options(food.orderItem.level) }}</v-row>
            <v-row v-if="food.orderItem.note">
              หมายเหตุ : {{ food.orderItem.note }}</v-row
            >
          </v-container>

          <v-btn
            variant="flat"
            color="#221712"
            style="color: white"
            class="ma-7 Cook rounded-xl"
            @click="changeStatus(index, 'เสิร์ฟแล้ว')"
          >
            SERVE
          </v-btn>
          <v-divider></v-divider>
        </v-col>
      </v-row>
    </v-card-text>
  </v-card>
</template>

<style scoped>
.text {
  font-size: 30pt;
  font-weight: 900;
  color: gray;
}
</style>
