<script setup lang="ts">
import { ref } from "vue";
import type { VForm } from "vuetify/components";
import { useStockStore } from "@/stores/stock";

const stockStore = useStockStore();
const form = ref<VForm | null>(null);

const save = async () => {
  const { valid } = await form.value!.validate();
  if (valid) {
    stockStore.saveStock();
  }
};

const clear = () => {
  stockStore.dialog = false;
  stockStore.clear();
};
</script>

<template>
  <v-row justify="center">
    <v-dialog v-model="stockStore.dialog" persistent>
      <v-card class="mx-auto my-12" max-width="1000">
        <v-card-title>
          <!-- <br /> -->
          <span class="text-h5">เพิ่มสินค้าใหม่ลงคลัง</span>
        </v-card-title>
        <v-card-text>
          <v-form ref="form">
            <v-container>
              <v-row>
                <v-col cols="12" sm="6" md="12">
                  <v-text-field
                    label="รหัสสินค้า *"
                    v-model="stockStore.editedStock.matCode"
                    :rules="[
                      (v) => !!v || 'รหัสสินค้าจะต้องไม่เป็นช่องว่าง',
                      (v) =>
                        v.length >= 4 ||
                        'รหัสสินค้าจะต้องมีขนาดมากกว่าหรือเท่ากับ 4 ตัวอักษร',
                    ]"
                    required
                  ></v-text-field>
                </v-col>

                <v-col cols="12" sm="6" md="12">
                  <v-text-field
                    label="ชื่อสินค้า *"
                    v-model="stockStore.editedStock.name"
                    :rules="[
                      (v) => !!v || 'ชื่อสินค้าจะต้องไม่เป็นช่องว่าง',
                      (v) =>
                        v.length >= 4 ||
                        'ชื่อสินค้าจะต้องมีขนาดมากกว่าหรือเท่ากับ 4 ตัวอักษร',
                    ]"
                    required
                  ></v-text-field>
                </v-col>

                <v-col cols="12" sm="6" md="12">
                  <v-text-field
                    label="ประเภท *"
                    v-model="stockStore.editedStock.category"
                    :rules="[
                      (v) => !!v || 'ประเภทจะต้องไม่เป็นช่องว่าง',
                      (v) =>
                        v.length >= 4 ||
                        'ประเภทจะต้องมีขนาดมากกว่าหรือเท่ากับ 4 ตัวอักษร',
                    ]"
                    required
                  ></v-text-field>
                </v-col>

                <v-col cols="12" sm="6" md="6">
                  <v-text-field
                    label="จำนวนคงเหลือ *"
                    type="number"
                    v-model.number="stockStore.editedStock.balance"
                    :rules="[
                      (v) => !!v || 'จำนวนคงเหลือจะต้องไม่เป็นช่องว่าง',
                      (v) =>
                        v >= 0 || 'จำนวนคงเหลือจะต้องมีค่ามากกว่าหรือเท่ากับ 0',
                    ]"
                    required
                  ></v-text-field>
                </v-col>

                <v-col cols="12" sm="6" md="6">
                  <v-text-field
                    label="หน่วยนับ *"
                    v-model="stockStore.editedStock.unit"
                    :rules="[
                      (v) => !!v || 'หน่วยนับจะต้องไม่เป็นช่องว่าง',
                      (v) =>
                        v.length >= 2 ||
                        'หน่วยนับจะต้องมีขนาดมากกว่าหรือเท่ากับ 2 ตัวอักษร',
                    ]"
                    required
                  ></v-text-field>
                </v-col>

                <!-- <v-col>{{ stockStore.editedStock }}</v-col> -->
              </v-row>
            </v-container>
          </v-form>

          <small>* indicates required field</small>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue-darken-1" variant="text" @click="clear">
            Close
          </v-btn>
          <v-btn color="blue-darken-1" variant="text" @click="save">
            Save
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-row>
</template>

<style scoped></style>
