<script setup lang="ts">
import { mdiPlus, mdiMagnify, mdiPencil, mdiDelete } from "@mdi/js";
import { useUsersStore } from "@/stores/users";
import UsersEdit from "./UsersEdit.vue";
import type { VForm } from "vuetify/components";
import { onMounted, ref, computed } from "vue";
import type User from "@/types/User";

const usersStore = useUsersStore();

const form = ref<VForm | null>(null);
// const dialog = ref(false);

const deleteUsers = (index: number): void => {
  usersStore.deleteUsers(index);
};

const editedUsers = (users: User) => {
  usersStore.editUsers(users);
};

const addNewUsers = () => {
  usersStore.dialog = true;
};

let keyword = ref("");
const filterData = computed(() => {
  return usersStore.users.filter(
    (e) =>
      e.name
        .toLocaleLowerCase()
        .indexOf(keyword.value ? keyword.value.toLocaleLowerCase() : "") != -1
  );
});

onMounted(async () => {
  await usersStore.getUsers();
});

// const save = async () => {
//   const { valid } = await form.value!.validate();
//   if (valid) {
//     usersStore.saveUsers();
//   }
// };

// const clear = () => {
//   usersStore.clear();
// };
</script>

<template>
  <v-container>
    <v-row class="my-5">
      <v-col cols="4" class="d-flex">
        <v-text-field
          clearable
          placeholder="ชื่อผู้ใช้งาน"
          variant="outlined"
          density="compact"
          style="gap: 2rem"
          v-model="keyword"
        >
        </v-text-field>
      </v-col>
      <v-col cols="6" class="d-flex justify-end">
        <v-btn color="#fab7b7" :prepend-icon="mdiPlus" @click="addNewUsers"
          >เพิ่ม</v-btn
        >
      </v-col>
    </v-row>
    <v-table>
      <thead class="table">
        <tr>
          <th class="text-left front">ลำดับ</th>
          <th class="text-left front">ชื่อผู้ใช้ระบบ</th>
          <th class="text-left front">อีเมลผู้ใช้ระบบ</th>
          <th class="text-left front"></th>
          <th class="text-left front"></th>
          <th class="text-left front"></th>
        </tr>
      </thead>

      <tbody>
        <tr v-for="person of filterData" :key="person.id">
          <!-- <td>{{ i + 1 }}</td> -->
          <td>{{ person.id }}</td>
          <td>{{ person.name }}</td>
          <td>{{ person.email }}</td>
          <td>
            <div class="d-flex" style="gap: 1rem; margin-left: 100px">
              <v-btn
                color="#ffd076"
                :prepend-icon="mdiPencil"
                @click="editedUsers(person)"
                >แก้ไข</v-btn
              >
              <v-btn
                color="#ff7c7c"
                :prepend-icon="mdiDelete"
                @click="deleteUsers(person.id)"
                >ลบ</v-btn
              >
            </div>
          </td>
        </tr>
      </tbody>
    </v-table>
    <UsersEdit></UsersEdit>
  </v-container>
</template>

<style scoped>
.table {
  background-color: #967667;
}
.front {
  color: white;
}
</style>
