<script setup lang="ts">
import { mdiFoodForkDrink, mdiLogout, mdiTimerSand } from "@mdi/js";
</script>
<template>
  <v-layout style="height: 56px">
    <v-bottom-navigation grow mode="shift">
      <v-btn value="list" class="text-none" stacked to="/point-of-sell">
        <v-icon :icon="mdiFoodForkDrink"></v-icon>
        Menu
      </v-btn>

      <v-btn value="list" class="text-none" stacked to="/foodStatus">
        <v-icon :icon="mdiTimerSand"></v-icon>
        My Order
      </v-btn>
      <v-btn value="list" class="text-none" stacked to="/">
        <v-icon :icon="mdiLogout"></v-icon>
        Log out
      </v-btn>
    </v-bottom-navigation>
  </v-layout>
</template>
