<script setup lang="ts">
import { ref } from "vue";
import {
  mdiAccount,
  mdiFood,
  mdiSafe,
  mdiLogout,
  mdiBillboard,
  mdiChairSchool,
  mdiStoreSearch,
  mdiTimelineClock,
  mdiCash,
  mdiFileDocumentCheckOutline,
} from "@mdi/js";
import { useLoginStore } from "@/stores/login";
import router from "@/router";
const loginStore = useLoginStore();
const logout = () => {
  loginStore.logout();
  localStorage.removeItem("user");
  localStorage.removeItem("token");
  router.replace("/");
};
const drawer = ref(true);
</script>
<template>
  <!-- <v-app-bar height="35" class="color--primary" density="prominent">
    <v-avatar
      image="..\..\picture\logo.jpg"
      size="65"
      color="surface-variant"
      class="mx-3"
    ></v-avatar>
  </v-app-bar> -->
  <v-navigation-drawer color="#E8D5C4" expand-on-hover permanent>
    <v-card class="ma-3 rounded-xl" color="#FFFBEB">
      <div class="pa-5">
        <v-row justify="center">
          <v-avatar size="80">
            <v-img
              src="https://i.pinimg.com/564x/8e/89/9a/8e899a1e55275bd0912105af6af9f7cc.jpg"
            ></v-img>
          </v-avatar>
        </v-row>
        <v-row justify="center">
          <div class="mt-2 align-center d-flex flex-column">
            <span class="text-h6">พีรยา เป้าบุญปรุง</span>
            <span class="text-subtitle-1">(ผู้จัดการร้านดีเด่น)</span>
          </div>
        </v-row>
      </div>
    </v-card>
    <v-list density="compact" nav>
      <v-list-item
        class="item"
        :prepend-icon="mdiChairSchool"
        title="จัดการโต๊ะ"
        value="Table"
        to="/table"
      ></v-list-item>
      <!-- <v-list-item
        class="item"
        :prepend-icon="mdiBillboard"
        title="ขายสินค้า"
        value="PointOfSell"
        to="/point-of-sell"
      ></v-list-item>
      <v-list-item
        class="item"
        :prepend-icon="mdiAccount"
        title="รายการอาหารของฉัน"
        value="foodstatus"
        to="/foodstatus"
      ></v-list-item> -->
      <v-list-item
        class="item"
        :prepend-icon="mdiSafe"
        title="ทำอาหาร"
        value="Cook"
        to="/cook"
      ></v-list-item>
      <v-list-item
        class="item"
        :prepend-icon="mdiFood"
        title="การเสิร์ฟ"
        value="theserve"
        to="/theserve"
      ></v-list-item>
      <v-list-item
        class="item"
        :prepend-icon="mdiAccount"
        title="ผู้ใช้งาน"
        value="users"
        to="/users"
      ></v-list-item>
      <v-list-item
        class="item"
        :prepend-icon="mdiTimelineClock"
        title="เช็คอิน-เอ้าท์"
        value="Checkinout"
        to="/checkinout"
      ></v-list-item>
      <v-list-item
        class="item"
        :prepend-icon="mdiCash"
        title="เงินเดือน"
        value="Saraly"
        to="/salary"
      ></v-list-item>
      <v-list-item
        class="item"
        :prepend-icon="mdiStoreSearch"
        title="สต๊อกวัตถุดิบ"
        value="Stock"
        to="/stock"
      ></v-list-item>
      <v-list-item
        class="item"
        :prepend-icon="mdiFileDocumentCheckOutline"
        title="เช็คบิล"
        value="Bill"
        to="/bill"
      ></v-list-item>
      <v-list-item
        class="item"
        :prepend-icon="mdiAccount"
        title="พนักงาน"
        value="Employee"
        to="/employee"
      ></v-list-item>
    </v-list>
    <template v-slot:append>
      <div class="pa-2">
        <v-btn
          block
          style="border-radius: 50px; background-color: #6f635b; color: white"
          :prepend-icon="mdiLogout"
          @click="logout"
          >LOGOUT</v-btn
        >
      </div>
    </template>
  </v-navigation-drawer>
</template>

<style scoped>
h1 {
  position: relative;
  left: 60px;
  top: 5px;
  font-size: 40px;
}

p {
  font-family: "Noto Sans Thai";
}
.item {
  margin: 5px;
  border-radius: 25px;
  background-color: white;
}
.item:hover {
  background: #221712;
  color: white;
}
</style>
