<script setup lang="ts">
import { mdiFood, mdiSafe } from "@mdi/js";
// import { ref } from "vue";
// import { useCookStore } from "@/stores/orderlist";
// import type OrderList from "@/types/OrderList";
// const CookStore = useCookStore();
</script>

<template>
  <v-bottom-navigation grow mode="shift" color="#b64548">
    <v-btn value="list" class="text-none" stacked to="/cook">
      <v-icon :icon="mdiSafe"></v-icon>
      order
    </v-btn>

    <v-btn value="status" class="none" stacked to="/cookserve">
      <v-icon :icon="mdiFood"></v-icon>
      cooking
    </v-btn>
  </v-bottom-navigation>
</template>
<style></style>
