<script setup lang="ts">
import { ref } from "vue";

const props = defineProps<{
  msg: string;
  timeout: number;
  modelValue: boolean;
}>();

const toggle = ref(props.modelValue);

const emit = defineEmits(["update:modelValue"]);

function updateValue(value: boolean) {
  toggle.value = value;
  emit("update:modelValue", value);
}
</script>
<template>
  <v-snackbar
    v-model="toggle"
    :closeDelay="timeout"
    @update:modelValue="updateValue"
  >
    {{ msg }}

    <template v-slot:actions>
      <v-btn color="pink" variant="text" @click="updateValue(false)">
        Close
      </v-btn>
    </template>
  </v-snackbar>
</template>
