<script setup lang="ts">
import { useTableStore } from "@/stores/table";
import type Table from "@/types/Table";
import router from "@/router";
import { onMounted, ref } from "vue";
import CustomerNav from "@/components/menus/CustomerNav.vue";
const tableStore = useTableStore();
onMounted(async () => {
  await useTableStore().getTables();
});
const changeStatus = (tables: Table) => {
  tableStore.switchStatus(tables);
};
const linkPath = () => {
  tableStore.dialog = false;
  router.push("/point-of-sell");
};
</script>
<template>
  <div class="d-flex" style="gap: 25rem">
    <h1 class="text my-5 mx-6 font" style="text-align: center">
      เลือกโต๊ะอาหาร
    </h1>
  </div>
  <v-container>
    <v-card max-width="auto" height="590" style="overflow-y: scroll">
      <v-row>
        <v-col v-for="(item, id) of tableStore.tables" :key="id" cols="3">
          <v-card class="mx-auto rounded-xl" color="#EAE0DA">
            <v-card-item>
              <v-img
                class="rounded-xl"
                src="../../picture/table1.jpg"
                height="200px"
                cover
              ></v-img>
              <div class="text-center" style="color: black">
                <div class="text-h6 mb-1">{{ item.name }}</div>
                <div class="text-overline mb-1">
                  จำนวนที่นั่ง: {{ item.amount }}
                </div>
                <v-btn
                  @click="changeStatus(item)"
                  :color="
                    item.status === 'ใช้งาน'
                      ? '#A9907E'
                      : 'white' && item.status === 'รอเก็บ'
                      ? '#ceaa6a'
                      : 'white'
                  "
                  >{{ item.status }}
                </v-btn>
              </div>
            </v-card-item>
          </v-card>
        </v-col>
      </v-row>
    </v-card>
  </v-container>

  <v-row justify="center">
    <v-dialog v-model="tableStore.dialog" width="250px">
      <v-card>
        <v-text class="text my-5 mx-6">
          จองโต๊ะ ({{ tableStore.currentStatus.name }})
        </v-text>

        <v-card-text
          ><v-img
            class="rounded-xl"
            src="../../picture/QR.png"
            height="200px"
            cover
            @click="tableStore.saveStatus"
          ></v-img
        ></v-card-text>
        <v-card-text class="text-center" style="font-size: 30px"
          >QR</v-card-text
        >
        <v-card-actions>
          <v-spacer></v-spacer>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-row>
</template>
<style scoped>
.font {
  font-size: 30pt;
  font-weight: 900;
  color: rgb(147, 135, 135);
}
</style>
