<script setup lang="ts">
import MainView from "./views/MainView.vue";
import LoginView from "./views/LoginView.vue";
import { onMounted } from "vue";
import { useLoginStore } from "@/stores/login";
import MainLayout from "@/layouts/MainLayout.vue";
import FullLayout from "@/layouts/FullLayout.vue";
import { useMessageStore } from "@/stores/message";
// import Snackbar from "./components/Snackbar.vue";
const messageStore = useMessageStore();

const loginStore = useLoginStore();
onMounted(() => {
  console.log("On Mounted");
  loginStore.loadData();
});
</script>

<template>
  <component
    :is="$route.meta.layout === 'MainLayout' ? MainLayout : FullLayout"
  ></component>
  <MessageBox></MessageBox>
  <!--props login Name-->
</template>

<style>
@import url("https://fonts.googleapis.com/css2?family=Mitr&display=swap");
.color--primary {
  background-color: #fff1dc !important;
}
.table table tr > th {
  background-color: #6f635b;
}
html,
body {
  font-family: "Mitr", monospace;
  font-weight: 500;
}
#app {
  font-family: "Mitr", monospace;
  font-weight: 500;
}
</style>
